@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "locomotive-scroll/dist/locomotive-scroll.css";
[data-scroll-container] {
    overflow: hidden;
  }
  /*  */
  /* styles/globals.css or your specific module CSS */
/* styles/globals.css or your specific module CSS */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bg-animated {
    background: linear-gradient(270deg, rgba(106, 156, 137, 0.2), rgba(106, 156, 137, 0.5));
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite; /* Adjust duration as needed */
  }


  /*  */
body {
    background-color: #16423C;
}
/*  */
.blur-effect {
    transition: transform 0.5s cubic-bezier(0.3, 0.86, 0.36, 0.95);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
/*  */
@font-face {
    font-family: "FoundersGrotesk-Semibold";
    src: local("FoundersGrotesk-Semibold"),
      url(./fonts/FoundersGrotesk-Semibold.ttf) format("truetype");
  }
  @font-face {
    font-family: "NeueMontreal-Regular";
    src: local("NeueMontreal-Regular"),
      url(./fonts/NeueMontreal-Regular.ttf) format("truetype");
  }

  .FoundersGrotesk-Semibold {
    font-family: "FoundersGrotesk-Semibold", sans-serif;
    font-style: normal;
  }

  .NeueMontreal-Regular{
    font-family: "NeueMontreal-Regular", sans-serif;
    font-style: normal;
  }
/*  */
.lines {
    display: flex;
    column-gap: 0.1em;
    align-self: flex-end;
  }
  .line1,
  .line3 {
    width: 2px;
    height: 0.5em;
    background-color: black;
    border-radius: 25px 25px 0px 0px;
    margin-top: 0.5em;
  }
  .line2 {
    flex-grow: 1;
    width: 2px;
    height: 1em;
    background-color: black;
    border-radius: 25px 25px 0px 0px;
  }
/*  */
/*  */

/*  */
/*  */
.perspective-1000 {
    perspective: 1000px; /* Adds perspective for 3D effect */
  }

  .preserve-3d {
    transform-style: preserve-3d; /* Keeps children in 3D space */
  }

  .backface-hidden {
    backface-visibility: hidden; /* Hides the back side when not visible */
  }

  .group:hover .rotate-y-180 {
    transform: rotateY(180deg); /* Flips the card on hover */
  }
/*  */

.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .outfit-medium {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
